<body>
  <div class="container">
    <img src="../../../assets//img/thumb-1920-517548.jpg" alt="" />
    <div id="cuadro" class="mb-5">
      <h1 class="text-center ">About</h1>
      <br />
      <p>Esta aplicacion es basada en la Api de pokemons</p>
      <p>
        La serie de videojuegos de Pokémon, referida por los fanes como la "saga
        principal", son videojuegos de rol desarrollados por Game Freak y
        publicados para videoconsolas portátiles de Nintendo.
      </p>
    </div>
  </div>
</body>
