<div class="contenedor">
  <h1>Nombre Pokemon</h1>

  <div class="main-information">
    <ul class="tipos">
      <li>Tipo 1</li>
      <li>Tipo 2</li>
    </ul>

    <div class="Fila1">
      <img src="" alt="">
      <ul>
        <li>Estadísticas</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div class="descripcion">
      <h4>Descripción</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, non!</p>
    </div>

  </div>

  <div class="profile">
    <h3>Profile</h3>
    <mat-grid-list cols="2" rowHeight="30px">
      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="moves">

  </div>
</div>