<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ pokemonInput.name }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="pokemonInput.sprites.front_default"
    [alt]="pokemonInput.name"
  />
  <mat-card-content>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip
        *ngFor="let typeGetData of pokemonInput.types"
        appChangeColorType
        [nameType]="typeGetData.type.name"
      >
        {{ typeGetData.type.name }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="GoToDescription(pokemonInput.id)">
      Ver mas..
    </button>
  </mat-card-actions>
</mat-card>
